
.title{
  color: rgb(122, 13, 13);
}

body {
  text-align: center;
}

p {
  text-align: left;
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
}

header {
  background-color: #170b7200;
  padding: 10px;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

nav {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: white;
}

footer {
  background-color: rgb(33, 6, 116);
  color: rgb(225, 222, 237);
  padding: 10px;
}

.image-section {
  margin-top: 20px;
}

.image-section img {
  width: 100px;
  height: 100px;
  margin: 50px;
}

.header-image {
  width:100%;
}

.my-title {
  text-align: left;
}


.title{
  color: rgb(122, 13, 13);
}


    body {
      text-align: center;
    }
    
    header {
      background-color: black;
      padding: 10px;
    }
    
    .logo {
      display: inline-block;
      vertical-align: middle;
    }
    
    nav {
      text-align: right;
      display: inline-block;
      vertical-align: middle;
      margin-left: auto;
    }
    
    nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    nav li {
      display: inline;
      margin-left: 10px;
    }
    
    nav a {
      text-decoration: none;
      color: white;
    }
    
    footer {
      background-color: black;
      color: rgb(225, 222, 237);
      padding: 10px;
    }
    
    .image-section {
      margin-top: 20px;
    }
    
    .image-section img {
      width: 100px;
      height: 100px;
      margin: 50px;
    }


